//#cy {
//  position: absolute;
//  left: 300px;
//  top: 0;
//  bottom: 0;
//  right: 0;
//}
//
//#search-bar-nodes {
//  float: left;
//  margin-left: 10px;
//  width: 200px;
//}
//
//#toolbar {
//  position: absolute;
//  left: 0;
//  top: 0;
//  bottom: 0;
//  right: 300px;
//  width:300px;
//
//  background-color: lightgrey;
//  i {
//    cursor: pointer;
//    display: inline-block;
//    margin-left: 10px;
//    color: darkgrey;
//  }
//
//  button {
//    margin-left: 10px;
//  }
//}


#cy {
  position: absolute;
  left: 0;
  top: 42px;
  bottom: 0;
  right: 0;
}

#search-bar-nodes {
  margin-left: 10px;
  width: 200px;
}

#toolbar {
  //position: absolute;
  //left: 0;
  //top: 0;
  //bottom: 50px;
  //right: 0;
  //height: 50px;
  i {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    color: darkgrey;
  }

  button {
    display: inline-block;
    margin-left: 10px;
  }
}

#network-title {
  font-weight: bold;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}



#info {
  width: 450px;
  //min-height: 100px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background-color: #F7F7F7;
  border-radius: 5px;
  color: lightgrey;

  .title {
    font-size: 20px;
    color: darkgray;
  }
}

#chart {
  min-width: 350px;
  max-width: 350px;
  //min-height: 100px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background-color: #F7F7F7;
  border-radius: 5px;
  color: lightgrey;

  .title {
    font-size: 20px;
    color: darkgray;
  }
}

#help {
  background:white;
  width:100%;
  height:100%;
  font-size:16px;
  position:absolute;
  color:black;
  text-align:left;
  padding-top:20px;
  padding-left:70px;

}

#help img {
  width:300px;
}

#help h1 {
  font-size:22px;
  font-weight:bold;
}




