<div class="toolbar">
  <div class="ui top attached menu">
    <a ng-click="displayExemplar()" class="item">
      Exemplar
    </a>
    <a ng-click="display()" class="item">
      Full network
    </a>
    <a ng-click="download()" class="item">
      <i class="download icon"></i>
    </a>


    <div id="network-title">{{networkToShow}} : {{ state }}</div>

    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search for a drug...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cy"></div>


<div ng-show="showInfo" id="info">
  <span class="title text-center">{{ selectedNode.id }}</span>
  <br>
  <div ng-if="selectedNode.found">
    <span>Chemical names: <span ng-repeat="name in selectedNode.names">{{name}};</span></span><br>
    <span>Molecular formula: <span class="entry" ng-bind-html="selectedNode.form"></span></span><br> 
    <!-- <span>Molecular formula: <span class="entry">{{selectedNode.form}}</span></span><br> -->
    <span>Molecular weight: <span class="entry">{{selectedNode.weight}}</span></span><br>
  </div>
  <span ng-show="selectedNode.url != 'Not found.'">PubChem: <a target="_blank" ng-href="{{ selectedNode.url }}"> {{ selectedNode.url }} </a> </span>
  <span ng-show="selectedNode.url == 'Not found.'">PubChem:  {{ selectedNode.url }} </span>
</div>

<div ng-show="showChart" id="chart">
  <span class="title text-center">{{ selectedEdge.source }} & {{ selectedEdge.target }}</span>
  <br>
  <br>
  <canvas id="pie" width="400" height="400"></canvas>


</div>

