<!--<div id="toolbar">-->
  <!--&lt;!&ndash;<i  class="fa fa-plus-square fa-4x" aria-hidden="true" data-content="Add a new node" ></i>&ndash;&gt;-->

  <!--<i class="fa fa-download  fa-3x" ng-click="download()" aria-hidden="true"></i>-->
  <!--<i class="fa fa-compress fa-3x" ng-click="bringBack()" aria-hidden="true"></i>-->
  <!--<button class="ui basic button" ng-click="display()">Display full network</button>-->
  <!--<div id="search-bar-nodes">-->
    <!--<div class="ui search">-->
      <!--<div class="ui icon input">-->
        <!--<input class="prompt" type="text" placeholder="Search for a drug...">-->
        <!--<i class="search icon"></i>-->
      <!--</div>-->
      <!--<div class="results"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="toolbar">
  <div class="ui top attached menu">
    <div class="ui dropdown icon item">
      <i class="wrench icon"></i>
      <div class="menu">
        <div class="item b" ng-click="download()">
          Export as PNG
        </div>
        <div class="item" ng-click="displayExemplar()">
          Switch to exemplar view
        </div>
        <div class="item" ng-click="display()">
          Switch to full network view
        </div>
        <div class="item" ng-click="back()">
          Go back
        </div>
        <!--<div class="item"  ng-click="display()">-->
          <!--Show full network-->
        <!--</div>-->
      </div>
    </div>

    <div id="network-title">{{networkToShow}}</div>

    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <!--<input class="prompt" type="text" placeholder="Search animals...">-->
          <!--<i class="search link icon"></i>-->
          <!--<div class="ui search">-->
          <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search for a drug...">
          <i class="search icon"></i>
          </div>
        <!--</div>-->
      </div>
    </div>
  </div>


  <!--<div class="ui bottom attached segment">-->
    <!--<p></p>-->
  <!--</div>-->
</div>

<div id="cy"></div>





<div ng-show="showInfo" id="info">
  <span class="title text-center">{{ selectedNode.id }}</span>
  <br>
  <span ng-show="selectedNode.url != 'Not found.'">PubChem: <a target="_blank" ng-href="{{ selectedNode.url }}"> {{ selectedNode.url }} </a> </span>
  <span ng-show="selectedNode.url == 'Not found.'">PubChem:  {{ selectedNode.url }} </span>

</div>

  <div ng-show="showChart" id="chart">
    <!--please add drug names here-->
    hi
    <span class="title text-center"></span>
    <br>
    <!--display chart below, can you also include a legend please-->
  </div>
