//#cy {
//  position: absolute;
//  left: 300px;
//  top: 0;
//  bottom: 0;
//  right: 0;
//}
//
//#search-bar-nodes {
//  float: left;
//  margin-left: 10px;
//  width: 200px;
//}
//
//#toolbar {
//  position: absolute;
//  left: 0;
//  top: 0;
//  bottom: 0;
//  right: 300px;
//  width:300px;
//
//  background-color: lightgrey;
//  i {
//    cursor: pointer;
//    display: inline-block;
//    margin-left: 10px;
//    color: darkgrey;
//  }
//
//  button {
//    margin-left: 10px;
//  }
//}

.network {
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
}

#cy {
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  right: 0;
}

#search-bar-nodes {
  margin-left: 10px;
  width: 200px;
}

i {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  color: #a8d6ff !important;
}

#toolbar {

  button {
    display: inline-block;
    margin-left: 10px;
  }
}

.network-menu {
  background-color: transparent !important;
}

#network-title {
  font-weight: bold;
  //width: 90%;
  //margin-right: 5%;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  //font-size: 40px;
  color: white;
}



#info {
  width: 450px;
  //min-height: 100px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background-color: rgba(112, 174, 255, 0.5);
  border-radius: 5px;
  color: white;

  .title {
    font-size: 20px;
    color: white;
  }
}

#chart {
  min-width: 350px;
  min-width: 350px;
  max-width: 350px;
  //min-height: 100px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background-color: rgba(112, 174, 255, 0.5);
  border-radius: 5px;
  color: white;

  .title {
    font-size: 20px;
    color: white;
  }
}

#help {
  background:white;
  width:100%;
  height:100%;
  font-size:16px;
  position:absolute;
  color:black;
  text-align:left;
  padding-top:20px;
  padding-left:70px;

}

#help img {
  width:300px;
}

#help h1 {
  font-size:22px;
  font-weight:bold;
}

#back a {
  top:20px;
  float:right;
  right:50px;
  color:black;
  font-size:22px;
  font-weight:bold;
  position:fixed;
  text-decoration:underline;
}




