#search-bar {
  //margin: 0px 25% 0px 25%;
  //width: 50%;
  //vertical-align:middle;

  width: 300px;
  height: 300px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

//#main-container {
//  height: 50%;
//}
